{% extends 'base-extranet.html' %}
{% block title %}Extranet{% endblock %}
{#
{% block metatitle %}{{ website.metatitle or "Extranet" }}{% endblock %}
{% block metadescription %}{{ website.metadescription or "Extranet" }}{% endblock %}
{% block metakeywords %}{{ website.metakeyword or '' }}{% endblock %}
#}
{% block head %}
<style>
.bkg-home{padding:80px 10px 48px; position:relative;-moz-box-shadow:0 -1px 10px rgba(0, 0, 0, 0.04) inset;-webkit-box-shadow:0 -1px 10px rgba(0, 0, 0, 0.04) inset;box-shadow:0 -1px 10px rgba(0, 0, 0, 0.04) inset;
background:url('/static/extranet/bkg-home-{{ [1,2]|random }}.jpg') no-repeat 35% 75%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.panel-default {opacity: 0.9; margin-top: 30px}
.form-group.last { margin-bottom:0px}
</style>
{% endblock %}
{% block body %}
<section id="content" class="extranet">
    <div id="breadcrumb-home"></div>

    <div class="container">
        {{ render_component('www.portal.login.widget')}}
        {{ render_component('www.cart.widget', lazy=True)}}
        {{ render_component('www.catalog.component')}}
    </div>
</section>
{% endblock %}
