
    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs langs">
                        <ul>
                            {% for permalink in multilang_permalink(uri_id=uri.id) %}
                                {% if permalink.lang_code != g.language %}
                                <li><a data-link="{{ permalink.lang_code }}" href="{{ permalink.uri }}">{{ permalink.lang_code|upper }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if current_user.is_authenticated %}<li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ session.display_name }} <b class="caret"></b></a>
                                <ul class="dropdown-menu my-account-menu">
                                    <li><a href="{{ url_for('my-account', lang=g.language) }}" rel="nofollow" title="{{ _("My Account") }}"><i class="fa fa-user"></i> {{ _("My Account") }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url_for('portal.new-password', lang=g.language) }}" rel="nofollow" title="{{ _("Change Password") }}"><i class="fa fa-user"></i> {{ _("Change Password") }}</a></li>
                                    <li><a href="{{ url_for('portal.logout', lang=g.language) }}" rel="nofollow" title="{{ _("Logout") }}"><i class="fa fa-sign-out"></i> {{ _("Logout") }}</a></li>
                                </ul>
                            </li>{% else %}
                {# <li><a href="{{ url_for('portal.login', lang=g.language) }}" rel="nofollow" title="{{ _('Login') }}">{{ _('Login') }}</a></li> #}
                            {% endif %}
                {% if config['DEBUG'] %}<li class="alert-danger hidden-xs hidden-sm"><strong>Debug</strong></li>{% endif %}
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/{{ g.language }}/"><img src="{{ url_for('static', filename='logo-'+ g.language +'.svg') }}" alt="NaN-tic"></a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-8">
                        <div id="nav-nan-1" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav nantic-menu">
                                {% for menu in cms_menu(code='extranet-main-menu') recursive %}
                                    {% if (menu.loggin and current_user.is_authenticated) or not menu.loggin %}
                                    <li id="{{ menu.code }}" class="scroll">
                                        <a href="{{ menu.uri }}" title="{{ menu.name }}" class="{{ menu.css }}{% if menu.target_uri and menu.target_uri.rec_name in request.path %} active{% endif %}{% if menu.extra_classes %} {{ menu.extra_classes }}{% endif %}">{{ menu.name }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="scroll hidden-lg hidden-md hidden-sm">
                                    {% for permalink in multilang_permalink(uri_id=uri.id) %}
                                        {% if permalink.lang_code != g.language %}
                                        <span><a href="{{ permalink.uri }}">{{ permalink.lang_code|upper }}</a></span>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                {% if current_user.is_authenticated %}<li id="extranet-project" class="scroll"><a href="{{ url_for('project.projects', lang=g.language) }}" title="{{ _('Tasks') }}" class="">{{ _('Tasks') }}</a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
      </nav>
    </header>
